[submodule "awesome/bling"]
	path = awesome/bling
	url = https://github.com/BlingCorp/bling
[submodule "awesome/rubato"]
	path = awesome/rubato
	url = https://github.com/andOrlando/rubato
[submodule "NvChad"]
	path = NvChad
	url = https://github.com/NvChad/NvChad
[submodule "awesome/--force"]
	path = awesome/--force
	url = https://github.com/BlingCorp/bling
[submodule "awesome/nice"]
	path = awesome/nice
	url = https://github.com/mut-ex/awesome-wm-nice.git
